@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=EB+Garamond:ital,wght@1,600&family=Hedvig+Letters+Serif:opsz@12..24&display=swap");
body {
  display: flex;
  flex-wrap: wrap;
  background-color: black !important;
  color: white !important;
  font-family: "Sevillana", "cursive" !important;
}
.heading{
    width: 100%;
    text-align: center;

}
.data-values{
    display: flex;
    flex-wrap: wrap;
}
.card{
    padding: 10px;
    margin: 5px;
    background-image: repeating-linear-gradient
    (45deg, rgba(0,0,0,0.05) 0px, rgba(0,0,0,0.05) 2px,transparent 2px, transparent 4px),linear-gradient(0deg, rgb(70, 143, 234),rgb(187, 235, 205));
}
.card-img-top{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.card:hover{
    cursor: pointer;
    background-color:rgb(125, 193, 224);

}